@use "./helpers";

.container {
}

.filter {
  display: grid;
  grid-template-columns: 100px repeat(3, 1fr) 70px 70px;
  gap: helpers.$size-md;
  @include helpers.responsive(mobile) {
    grid-template-columns: repeat(2, 1fr);
  }

  &_item {
    display: flex;
    gap: helpers.$size-sm;
    padding: 0 helpers.$size-md;
    border-radius: helpers.$radius-md;
    background: helpers.$color-light;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    height: helpers.$size-lg;

    &_order {
      display: flex;
      justify-content: space-between;
      gap: helpers.$size-sm;
      align-items: center;
      padding-left: helpers.$size-sm;
      @include helpers.responsive(mobile) {
        display: none;
      }

      select {
        // all: unset;
        font-size: 1rem;
        font-weight: 500;
        // display: block;
        color: helpers.$color-blue;
        // appearance: auto;
        // background-color: transparent;
      }
    }
    &_label {
      font-size: helpers.$size-md;
      color: helpers.$color-gray;
    }

    &_mobile{
      @include helpers.responsive(mobile) {
        display: none;
      }

    }
    &_search {
      display: flex;
      justify-content: space-between;
      gap: helpers.$size-sm;
      align-items: center;
      padding-left: helpers.$size-sm;

      input {
        display: block;
        border: none;
        text-align: right;
        font-size: 1rem;
        padding: 0;
        height: 100%;
        flex: 1;
        outline: none;
        width: 100%;
      }
    }
  }

  &_button{
    border: none;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: helpers.$color-shadow;
    border-radius: helpers.$radius-md;
    color: helpers.$color-gray;
    font-size: 1.25;
    font-weight: 500;
    @include helpers.responsive(mobile) {
      height: 35px
    }

    &[aria-selected="true"]{
      background-color: helpers.$color-blue;
      color: helpers.$color-light;
    }
  }
  &_button_new{
    border: none;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: helpers.$color-light;
    border-radius: helpers.$radius-md;
    color: helpers.$color-blue;
    font-size: 1.25;
    font-weight: 500;
    border: 1px solid;
  }
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: helpers.$size-lg;
  margin-top: helpers.$size-md;
  margin-right: helpers.$size-lg;
  @include helpers.responsive(mobile) {
    grid-template-columns: auto;
  }
  .blue_card{
    max-width: 392px;
    background-color: #3B82F620;
    box-shadow: unset;
    .blue_button{
      background-color:#c2d4f0a6;
      margin: helpers.$size-sm;
    }
    .pink_button{
      background-color:orangered;
      margin: helpers.$size-sm;
    }
    .discount_button{
      background-color:black;
      margin: helpers.$size-sm;
      color: #FFFFFF;
    }
  }
  .pink_card{
    max-width: 392px;
    background-color: pink;
    box-shadow: unset;
    .blue_button{
      background-color:#c2d4f0a6;
      margin: helpers.$size-sm;
    }
    .pink_button{
      background-color:pink;
      margin: helpers.$size-sm;
      color: orangered;
    }
    .discount_button{
      background-color:black;
      margin: helpers.$size-sm;
      color: #FFFFFF;
    }
  }



}
.mob_change{
  position: absolute;
  bottom: 17px;
  width: 95px;
  left: 15px;
}
.img_footer{
  margin-top: helpers.$size-sm;
  @include helpers.responsive(mobile) {
    display: block;
  }
  .four{
    @include helpers.responsive(mobile) {
      padding-left: unset;
    }
    margin-right: 50px;
    img{
      height: 336px;
      @include helpers.responsive(mobile) {
        height: 305px;
      }
    }
  }
  .eight{
    @include helpers.responsive(mobile) {
      padding-left: unset;
      width: 100%;
      max-width: 90%;
    }
    img{
      height: 336px;
      width: 100%;
    }
  }
}

.pagination {
  display: grid;
  grid-template-columns: 1fr repeat(7, auto) 1fr;
  gap:15px;
  margin-top: helpers.$size-md;

  &_item {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: helpers.$size-lg;
    height: helpers.$size-lg;
    border-radius: helpers.$radius-md;
    background-color: helpers.$color-light;
    box-shadow: helpers.$box-shadow;
    cursor: pointer;
    font-weight: 700;
  }
  &_prev,
  &_next {
    width: 100%;
    font-weight: 400;
  }
  &_blank{
    pointer-events: none;
  }
  &_active{
    background-color: helpers.$color-blue;
    color: helpers.$color-light;
  }
}
.pagination {
  display: flex;
  list-style: none;
  height: 40px;
  //border: 1px solid black;
  border-radius: 5px;
  width: fit-content;
  align-items: center;
  padding: 0;
  margin-top: helpers.$size-lg;

  li {
    height: helpers.$size-lg;
    background: #FFFFFF;
    box-shadow: 0px 0px helpers.$size-lg rgba(0, 0, 0, 0.15);
    border-radius: helpers.$size-xs;
    margin-right: 17px;
    a {
      all: unset;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 5px;
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
      cursor: pointer;
      font-weight: 700;

      &:hover {
        text-decoration: underline;
      }
    }

    &.active {
      background: helpers.$color-blue;
      color: helpers.$color-light;
      a {
        font-weight: bold;
        text-decoration: underline;
        pointer-events: none;

      }

    }
  }
}